@import 'normalize';

body {
    width: 100vw;
    font-family: Roboto, serif;
    background-color: #efefef;
    margin: 0;
}

a {
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
}
