.logo {
    position: fixed;
    top: 1.65em;
    left: 2em;
    width: 33vw;
    max-width: 210px;
    z-index: 100;

    @media (max-width: 710px) {
        position: fixed;
        top: 1em;
        left: 50vw;
        transform: translateX(-50%);
        width: 33vw;
        max-width: 210px;
        min-width: 180px;
    }
}

.menuItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 55vw;
    // max-width: 550px;
    margin: 3em auto 2em auto;

    @media (max-width: 710px) {
        margin: 7em auto 2em auto;
        // margin-top: 7em;
        width: 90vw;
        justify-content: center;
    }

    li {

        font-size: 1.6em;
        padding: 0 0.25em;
        margin: 0 0.75em 0.5em;

        a {
            text-decoration: none;
            color: #4baace;
            transition: all .3s ease;
        }
    }
}
